= render 'index'

#detail-view.panel{"data-option-id" => @option.id}
  = form_for [:admin, @option], remote: true do |f|
    .option
      = f.text_field :title, placeholder: "Item name...", id: "item_name"
      .clear


      .header
        %h2 
          Variants
          %em the variations of this particular product and their quantities
        .clear      
      #values
        %ul
          = f.fields_for :values do |builder|
            / %li= builder.text_field :name
            %li= builder.object.inspect
