= render 'index', categories: @categories
#detail-view.panel{"data-item-id" => @item.id}
  = form_for [:admin, @item], remote: true do |f|
    .item
      #name_and_price
        = f.text_field :name, placeholder: "Item name...", id: "item_name"
        = f.text_field :price, id: "item_price"
        .clear
      .header
        %h2
          Photos
          %em drag to rearrange · the first photo is the primary one
        .clear
      #photos
        %ul{"data-update-path" => sort_admin_item_photos_path(@item)}
          %li.new
            = link_to "Add Photo", new_admin_item_photo_path(@item), remote: true
          = render @item.photos
      #item_description
        = f.text_area :description, id: "item_description", cols: "80"
      .header
        %h2
          Variants
          %em the variations of this particular product and their quantities
        .clear
      #variants
        %ul
          = f.fields_for :variants do |builder|
            %li
              = builder.text_field :quantity
              = builder.label builder.object.option_value.title
