- provide :title, @item.shortname || @item.name

#main_product.photos
  #product_information
    #title_pricetag
      %h1= @item.name
      %h2= number_to_currency @item.price
    = render 'line_items/form'

  #product_main_photo
    = image_tag(@item.item_images.first.photo)

  %ul#photos(data-id="#{@item.id}")
    #photos-inner
      = render partial: 'photos/tile', collection: @item.item_images, as: 'item_image'
    .clear
  .clear

.block.white.css3#description{style: 'padding: 10px;'}
  = markdown_and_replace @item.description
