%li{"id" => "category_#{category.id}"}
  = content_tag :span, category.name, class: "drag-handle"
  = button_to "x", admin_category_path(category), remote: true, method: :delete
  .clear
  - if category.children.any?
    %ul= render category.children
  - if category.items.any?
    = content_tag :ul do
      - for item in category.items
        = content_tag :li, link_to(item.name, edit_admin_item_path(item), class: current_link?(item))
