%td
  = link_to comb do
    - if comb.comb_images.first
      = image_tag comb.comb_images.first.photo, width: 250
    - else
      = image_tag 'default_main_image.jpg', width: 250
    %h3
      %span.controls
        = humanized_money_with_symbol comb.price
      = link_to comb.name, comb
