!!!
%html
  %head
    %title Admin Console
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    = javascript_include_tag "admin"
    = stylesheet_link_tag    "admin", :media => "all"
    = csrf_meta_tags
  %body
    #primary-nav.panel
      %header
        %h1 Admin
      %nav
        %ul
          %li.current
            = link_to admin_items_path do
              = image_tag 'admin/items_icon.png'
              %span Items
          %li
            = link_to admin_options_path do
              = image_tag 'admin/items_icon.png'
              %span Options
    = yield
