!!! 5
%html
  %head
    %title
      = full_title yield :title
    = stylesheet_link_tag "application", :media => "all"
    /[if lte IE 8]
      = stylesheet_link_tag "ie", :media => "screen"
    = csrf_meta_tags
  %body
    #header
      = link_to '', root_path, id:'main'
    #navigation
      .wrap
        %ul#navigation_links
          %li= link_to "Home", root_path
          %li= link_to "Products", '#', id:"products_link"
          %li= link_to "Newsletter", newsletter_path
          %li= link_to "Links", links_path
          %li= link_to "Videos", videos_path
          #control-panel
            %li#cart_link
              = link_to current_cart_path, id: "cart_button" do
                = image_tag(asset_path('cart.png'))
                = content_tag :span, data: { quantity: current_cart.number_of_items }, id: "number_of_items" do
                  = "(#{current_cart.number_of_items})"
            #search
              %form(method="get" action="search_results")
                %input(type="search" name="search" placeholder="Search..." value="#{params[:search]}")
    - if flash.now[:notice]
      #notice.block.black
        = raw flash.now[:notice]
    - if flash.now[:error]
      #error.block.black
        = raw flash.now[:error]
    = yield
    #products_dropdown
      %ul#roots{style: "padding: 20px;"}
        %li
          Combs
          %ul.menu_list
            -Model.all.each do |model|
              - if model.combs.any?
                %li.menu_link
                  = link_to model.name, combs_model_list_path(model)
        %li
          Harmonicas
          %ul.menu_list
            -Model.all.each do |model|
              - if model.harmonicas.any?
                %li.menu_link
                  = link_to model.name, harmonicas_model_list_path(model)
        %li
          Powder Coated Covers
          %ul.menu_list
            -Model.all.each do |model|
              - if model.powder_coated_covers.any?
                %li.menu_link
                  = link_to model.name, powder_coated_covers_model_list_path(model)
        %li
          SUB-30 Customization Kits
          %ul.menu_list
            -Model.all.each do |model|
              - if model.sub_kits.any?
                %li.menu_link
                  = link_to model.name, sub_kits_model_list_path(model)
        %li
          External Valve Plates
          %ul.menu_list
            -Model.all.each do |model|
              - if model.external_valve_plates.any?
                %li.menu_link
                  = link_to model.name, external_valve_plates_model_list_path(model)
    = render 'layouts/footer'
    = javascript_include_tag "application"
